<!-- BANER -->
<div class="slide-one-item home-slider owl-carousel">

  <div class="site-blocks-cover inner-page overlay" style="background-image: url(assets/images/model_3.png);"
    data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6" data-aos="fade">
          <h1 class="font-secondary font-weight-bold text-uppercase">Small Business Insurance Agency</h1>
          <span class="caption d-block text-white">An Insurance Company</span>
        </div>
      </div>
    </div>
    <div>asdasd</div>
  </div>

  <div class="site-blocks-cover inner-page overlay" style="background-image: url(assets/images/model_4.png);"
    data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-7 text-center" data-aos="fade">
          <h1 class="font-secondary font-weight-bold text-uppercase">Insurance Coverage To Meet Your Needs</h1>
          <span class="caption d-block text-white">You Will Love Our Services</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CONTENT -->
<div class="site-section">
  <div class="container">
    <div class="title-section mb-5">
      <h2 class="text-uppercase"><span class="d-block">Discover</span> The Collections</h2>
    </div>
    <div class="row align-items-stretch">
      <div class="col-lg-8">
        <div class="product-item sm-height full-height bg-gray">
          <a href="#" class="product-category">Women <span>25 items</span></a>
          <img src="assets/images/model_4.png" alt="Image" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="product-item sm-height bg-gray mb-4">
          <a href="#" class="product-category">Men <span>25 items</span></a>
          <img src="assets/images/model_5.png" alt="Image" class="img-fluid">
        </div>

        <div class="product-item sm-height bg-gray">
          <a href="#" class="product-category">Shoes <span>25 items</span></a>
          <img src="assets/images/model_6.png" alt="Image" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>
<app-products [data]="productsWomen"></app-products>
<app-products [data]="productsMen"></app-products>
<app-products [data]="productsChildren"></app-products>