  <div class="card-header" id="headingOne">
    <h5 class="mb-0">
      <div class="row">
        <button class="btn btn-default" data-toggle="collapse" [attr.data-target]="'#' + method.id" aria-expanded="true"
          aria-controls="collapseOne">
          <i class="fa fa-plus-circle btn-show"></i>
        </button>
        <p class="btn-name">{{method.title}}</p>
        <button class="btn btn-defaul">
          <i class="fa fa-close btn-delete" data-toggle="modal" data-target="#myModal" (click)="confirmDelete()"></i>
        </button>
      </div>
    </h5>
  </div>
  <ng-content selector="app-modal"></ng-content>
