<div class="container">
  <div class="row">
    <div class="col-md-3 ">
      <div class="list-group ">
        <a href="#" class="list-group-item list-group-item-action active">Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action">User Management</a>
        <a href="#" class="list-group-item list-group-item-action">Used</a>
        <a href="#" class="list-group-item list-group-item-action">Enquiry</a>
        <a href="#" class="list-group-item list-group-item-action">Dealer</a>
        <a href="#" class="list-group-item list-group-item-action">Media</a>
        <a href="#" class="list-group-item list-group-item-action">Post</a>
        <a href="#" class="list-group-item list-group-item-action">Category</a>
        <a href="#" class="list-group-item list-group-item-action">New</a>
        <a href="#" class="list-group-item list-group-item-action">Comments</a>
        <a href="#" class="list-group-item list-group-item-action">Appearance</a>
        <a href="#" class="list-group-item list-group-item-action">Reports</a>
        <a href="#" class="list-group-item list-group-item-action">Settings</a>
        <a routerLink="/news">Test</a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
