<!-- sidebar-wrapper  -->
<main class="page-content">
  <div class="container-fluid">
    <div class="title-section">
      <h2>{{title | uppercase}}</h2>
    </div>
    <hr>
    <h3>Hello {{currentUser.lastName}}</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum sunt quibusdam veniam. Tempore aliquam
      blanditiis
      qui consectetur voluptas. Dolor cupiditate dolore eveniet labore exercitationem maiores accusantium accusamus
      reiciendis assumenda praesentium!
    </p>
  </div>
</main>