<div class="tab-pane fade active show in" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
  *ngIf="tabIndex==0">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab at odit nam earum neque aspernatur in, laborum
  voluptatibus magni culpa quas, optio nesciunt quo dolorum labore expedita illum nisi laudantium?</div>
<div class="tab-pane fade active show in" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
  *ngIf="tabIndex==1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab at odit nam earum neque aspernatur in,
  laborum voluptatibus magni culpa quas, optio nesciunt quo dolorum labore expedita illum nisi laudantium? 1</div>
<div class="tab-pane fade active show in" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"
  *ngIf="tabIndex==2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab at odit nam earum neque aspernatur in,
  laborum voluptatibus magni culpa quas, optio nesciunt quo dolorum labore expedita illum nisi laudantium? 2</div>
