<!-- <div *ngFor="let person of arrPeople"> -->
<!-- <app-person [name] ="person.name" [age]="person.age"></app-person> -->
<!-- <app-person name ="person.name" age ="person.age"></app-person> -->
<!-- </div> -->
<ng-container *ngFor="let person of arrPeople">
  <app-person [name]="person.name" [age]="person.age" (removePerson)= "removePersonByName($event)"
  ></app-person>
</ng-container>

<!-- <div *ngFor= "let person of arrPeople ">
    <app-person [name] ="person.name " [age] ="person.age "></app-person>
</div> -->