<div class="row">
  <div class="col-sm-4">
    <div class="sidebar">
      <nav class="sidebar-nav">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/account/profile">
              <i class="nav-icon cui-speedometer"></i> Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/account/dashboard">
              <i class="nav-icon cui-speedometer"></i> Dashboard
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="col-sm-8">
    <router-outlet></router-outlet>
  </div>
</div>
