<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>


<!--The content below is only a placeholder and can be replaced.-->
<!-- <div  class="body col-md-12">
    
<div class="container col-md-10">
    <div class="col-md-12" [ngStyle]="{'display': 'table-cell', 'vertical-align': 'middle', 'background': 'linear-gradient(to right, #F6F7F7 , #E4E8E6)', 'height': '30px', 'border-style': 'solid', 'border-width': '0px 0px 0px 5px', 'border-color': 'blue', 'padding-left': '20px'}">
      App Content
    </div>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" (click)="onChangeTab(1)">Home</a></li>
      <li><a data-toggle="tab" (click)="onChangeTab(2)">Profile</a></li>
      <li><a data-toggle="tab" (click)="onChangeTab(3)">Contact</a></li>
    </ul>
  
    <div class="tab-content">
     <app-child [currentTab]="myTab"></app-child>
    </div>
  </div>  
</div> -->

<!-- <app-lifecycle [listItem]="listItem">
  <app-modal (positionDeleted)="deleteItemFromModal($event)"></app-modal>
</app-lifecycle> -->
<!-- <div [ngStyle]="{'margin': '0 auto', 'width': 'max-content', 'padding-top': '200px'}">
  <button appHoverDirective [backgroundColor]="'green'" class="btn btn-default">Green</button>
  <button appHoverDirective [backgroundColor]="'orange'" class="btn btn-default">Orange</button>
</div> -->
<!-- <app-news [listNews]="listNews"></app-news>
<ng-template [ngIf]="err">
  <div class="alert alert-danger">{{err}}</div>
</ng-template> -->

<!-- <div [ngStyle]="{'margin': '30px 0 100px 20%'}">
  <label>Key</label> <input type="text" #key>
  <label>Value</label> <input type="text" [(ngModel)]="myValue">
  <button [ngStyle]="{'margin-left': '20px'}" class="btn btn-warning" (click)="saveLocal()">Save Local</button>
  <button [ngStyle]="{'margin-left': '20px'}" class="btn btn-warning" (click)="getLocal()">Get Local</button>
  <button [ngStyle]="{'margin-left': '20px'}" class="btn btn-primary"(click)="saveSession()">Save Session</button>
  <button [ngStyle]="{'margin-left': '20px'}" class="btn btn-primary"(click)="getSession()">Get Session</button>
</div> -->
<!-- <app-register></app-register> -->
<!-- <app-login></app-login> -->
