.header {
    height: 64px;
    background-color: #1976d2;
}
.nav-link.home {
    cursor: pointer;
    margin: 0 16px 0 25%;
    color: #F5EBE9;
}
.nav-item {
    display: inline-block;
    width: max-content;
    font-size: 22px;
    margin-left: 3%;
}
div.nav-item {
    margin-top: 15px;
}
.nav-item:hover {
    text-shadow: 0 1px;  
}
img:hover {
    transform: scale(1.1);
}
footer {
    background: linear-gradient(to right, #F6F7F7 , #E4E8E6);
    height: 50px;
    position:absolute;
    bottom:0;
    width: 100%;
}
footer a {
    vertical-align: middle;
    position: absolute;
    right: 20%;
    bottom: 15px;
}
.body {
    padding: 0 20% 0 20%;
    margin-top: 60px;
}
