<div class="container">
  <div class="row blog">
    <div class="col-md-12">
      <div id="blogCarousel" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
          <li>
            <a class="carousel-control-prev" href="#blogCarousel" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
          </li>
          <li>
            <a class="carousel-control-next" href="#blogCarousel" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </li>
        </ol>

        <!-- Carousel items -->
        <div class="carousel-inner">

          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-3">
                <a href="#">
                  <img src="assets/images/women/women9.jpg" alt="Image" style="max-width:100%;">
                </a>
              </div>
              <div class="col-md-3">
                <a href="#">
                  <img src="assets/images/women/women10.jpg" alt="Image" style="max-width:100%;">
                </a>
              </div>
              <div class="col-md-3">
                <a href="#">
                  <img src="assets/images/men/men9.jpg" alt="Image" style="max-width:100%;">
                </a>
              </div>
              <div class="col-md-3">
                <a href="#">
                  <img src="assets/images/men/men10.jpg" alt="Image" style="max-width:100%;">
                </a>
              </div>
            </div>
            <!--.row-->
          </div>
          <!--.item-->

          <div class="carousel-item">
            <div class="row">
              <div class="col-md-3">
                <a href="#">
                  <img src="assets/images/women/women5.jpg" alt="Image" style="max-width:100%;">
                </a>
              </div>
              <div class="col-md-3">
                <a href="#">
                  <img src="assets/images/women/women6.jpg" alt="Image" style="max-width:100%;">
                </a>
              </div>
              <div class="col-md-3">
                <a href="#">
                  <img src="assets/images/men/men6.jpg" alt="Image" style="max-width:100%;">
                </a>
              </div>
              <div class="col-md-3">
                <a href="#">
                  <img src="assets/images/men/men9.jpg" alt="Image" style="max-width:100%;">
                </a>
              </div>
            </div>
            <!--.row-->
          </div>
          <!--.item-->

        </div>
        <!--.carousel-inner-->
      </div>
      <!--.Carousel-->

    </div>
  </div>
</div>