<!-- Slider -->
<div>
  <slideshow #slideshow [imageUrls]="imageUrls" [height]="height" [minHeight]="minHeight" [arrowSize]="arrowSize"
    [showArrows]="showArrows" [disableSwiping]="disableSwiping" [autoPlay]="autoPlay"
    [stopAutoPlayOnSlide]="stopAutoPlayOnSlide" [debug]="debug" [backgroundSize]="backgroundSize"
    [backgroundPosition]="backgroundPosition" [backgroundRepeat]="backgroundRepeat" [showDots]="showDots"
    [dotColor]="dotColor" [captionColor]="captionColor"
    [captionBackground]="captionBackground" [lazyLoad]="lazyLoad" [hideOnNoSlides]="hideOnNoSlides"
    [fullscreen]="fullscreen">
  </slideshow>
  <hr>
</div>
