<header>
  <ul class="nav nav-pills nav-fill col-md-10">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/news" RouterLinkActive="active">News</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/cards" RouterLinkActive="active">Cards</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="account/profile" RouterLinkActive="active">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="account/dashboard" RouterLinkActive="active">Dashboard</a>
    </li>
  </ul>
  <div class="col-md-2 auth-div">
    <button class="btn-secondary" (click)="login()"  *ngIf="!authService.isLoggedIn">Login</button>
    <button class="btn-secondary" (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
  </div>
</header>
