<footer class="footer">
    <div class="footer_content">
      <div class="container">
        <div class="row">
          
          <!-- About -->
          <div class="col-lg-4 footer_col">
            <div class="footer_about">
              <div class="footer_logo">
                <a href="#">
                  <div class="d-flex flex-row align-items-center justify-content-start">
                    <div class="footer_logo_icon"><img src="assets/images/logo_2.png" alt=""></div>
                    <div>PET TV</div>
                  </div>
                </a>		
              </div>
              <div class="footer_about_text">
                <p>Thú nuôi từ xưa tới nay nó đã gắn liền với tập quán trong đời sống xã hội của chúng ta. Đời sống vật chất ngày càng đẩy đủ và đời sống tinh thần cũng ngày 1 phong phú hơn thì việc nuôi và chăm sóc 1 thú cưng để thể hiện tình yêu, cá tính và cái đam mê còn là 1 thú chơi thi vị nữa.</p>
              </div>
            </div>
          </div>

          <!-- Footer Links -->
          <div class="col-lg-4 footer_col">
            <div class="footer_menu">
              <div class="footer_title">Support</div>
              <ul class="footer_list">
                <li>
                  <a href="#"><div>Return Policy</div></a>
                </li>
                <li>
                  <a href="#"><div>Contact</div></a>
                </li>
              </ul>
            </div>
          </div>

          <!-- Footer Contact -->
          <div class="col-lg-4 footer_col">
            <div class="footer_contact">
              <div class="footer_title">Social</div>
              <ul class="footer_social_list d-flex flex-row align-items-start justify-content-start">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_bar">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="footer_bar_content d-flex flex-md-row flex-column align-items-center justify-content-start">
              <div class="copyright order-md-1 order-2">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>
