<div class="container">
  <div [style.margin-top.px]="100">
    <article class="card-body mx-auto custom-card-body">
      <h4 class="card-title mt-3 text-center">Login Account</h4>
      <p>
        <a href="" class="btn btn-block btn-twitter"> <i class="fa fa-twitter"></i>   Login via Twitter</a>
        <a href="" class="btn btn-block btn-facebook"> <i class="fa fa-facebook-f"></i>   Login via facebook</a>
      </p>
      <p class="divider-text">
        <span class="bg-light">OR</span>
      </p>
      <form #loginForm="ngForm" (ngSubmit)="loginSubmit()">
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
          </div>
          <input name="email" [(ngModel)]="user.email" #email="ngModel" class="form-control" placeholder="Email address"
            type="email" required email>
        </div> <!-- form-group// -->
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger" role="alert">
          <div *ngIf="email.errors.required">
            Email is required
          </div>
          <div *ngIf="email.errors.email">
            Email is not valid
          </div>
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input name="password" [(ngModel)]="user.password" #password="ngModel" class="form-control"
            placeholder="Create password" type="password" required>
        </div> <!-- form-group// -->
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger" role="alert">
          <div *ngIf="password.errors.required">
            Password is required
          </div>
        </div>
        <div class="form-group">
          <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-block"> Sign In </button>
        </div> <!-- form-group// -->
        <p class="text-center">Don't have an account?<a routerLink="/register"> Register</a></p>
      </form>
      <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
    </article>
  </div> <!-- card.// -->
</div>