<!-- <div id="inner" id="accordionExample">
    <div class="inner">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button type="button" (click)= 'animateMe()' class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Collapsible Group Item #1
          </button>
        </h5>
    </div>
    <div>
        <p [@myfirstanimation] = 'state' >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab cupiditate, reprehenderit facere perferendis adipisci commodi aut non dolorum iste dolor nihil excepturi libero! Provident quibusdam saepe vero quam aliquid. Eveniet!</p>
    </div>

    <div class="inner">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button type="button" (click)= 'animateMe()' class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Collapsible Group Item #1
                </button>
              </h5>
          </div>
          <div>
              <p [@myfirstanimation] = 'state' >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab cupiditate, reprehenderit facere perferendis adipisci commodi aut non dolorum iste dolor nihil excepturi libero! Provident quibusdam saepe vero quam aliquid. Eveniet!</p>
          </div>
</div> -->

<!-- <div class="inner">
    <button type="button" (click)= 'animateMe()'>clickme</button>
    <p [@myfirstanimation] = 'state' >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab cupiditate, reprehenderit facere perferendis adipisci commodi aut non dolorum iste dolor nihil excepturi libero! Provident quibusdam saepe vero quam aliquid. Eveniet!</p>
</div> -->


<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div id="Accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="HeadingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#Accordion" href="#CollapseOne" aria-expanded="true" aria-controls="CollapseOne">Collapsible Group Item 1</a>
            </h4>
          </div>
          <div id="CollapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="HeadingOne">A squad faces a misery below the sixty wrist. The look dodges underneath each symbol! The fleet minor fries a sea
            camp. Its balanced contract talks before my metaphor. Our generator stretches. A wrecker faints throughout the
            peer.
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <app-word></app-word> -->
<!-- <app-list-person></app-list-person> -->
<!-- <app-parent></app-parent> -->
<!-- <app-card>
  <p class="card-header">phuttr</p>
  <p class="card-body">phuttrsssss</p>
</app-card> -->
<!-- <app-learn-pipe></app-learn-pipe> -->
<!-- <app-async-promise-pipe></app-async-promise-pipe> -->
<!-- <app-ip></app-ip> -->
<!-- <app-weather></app-weather> -->
<app-sign-in></app-sign-in>
