// .inner {
//     width: 60vw;
//     margin-left: 20%;
// }

// .inner p {
//     height: 0px;
//     overflow: hidden;
//     border: 1px solid rgba(0, 0, 0, 0.55);
// }
.red
      {
        color: white;
        background-color: red;
      }

      .green
      {
        color: white;
        background-color: green;
      }

      .blue
      {
        color: white;
        background-color: blue;
      }