<div class="container">
  <div class="card-header">Header
  <div class="card-deck">
    <div class="card" *ngFor="let item of woman">
      <img src="{{ item.img }}" class="image card-img-top" alt="assets/img/op1.png">
      <div class="middle">
        <div class="text">favorite</div>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>

        <p class="card-text">
          <small class="text-muted">Price: {{ item.price }}$</small>
        </p>
      </div>
    </div>
  </div>
  <div class="card-header">Header
      <div class="card-deck">
        <div class="card" *ngFor="let item of woman">
          <img src="{{ item.img }}" class="image card-img-top" alt="assets/img/op1.png">
          <div class="middle">
            <div class="text">favorite</div>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
    
            <p class="card-text">
              <small class="text-muted">Price: {{ item.price }}$</small>
            </p>
          </div>
        </div>
      </div>
      <div class="card-header">Header
          <div class="card-deck">
            <div class="card" *ngFor="let item of woman">
              <img src="{{ item.img }}" class="image card-img-top" alt="assets/img/op1.png">
              <div class="middle">
                <div class="text">favorite</div>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
        
                <p class="card-text">
                  <small class="text-muted">Price: {{ item.price }}$</small>
                </p>
              </div>
            </div>
          </div>
</div>