<header>
  <nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
    <div class="navbar-collapse custom-navbar-content col-md-10 offset-md-1" id="navbarNav">
      <a class="navbar-brand" href="#">
        <img id="logo" src="assets/images/logo.png" alt="">
      </a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">DIRECTIVE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PRICING</a>
        </li>
      </ul>
      <a class="text-white" href="#">LOGIN</a>
    </div>
  </nav>
</header>

<body>
  <div class="content-body col-md-10 offset-md-1">
    <!-- <div class="bd-callout bd-callout-info">
      <h4>{{listTab[index] | uppercase}}</h4>
    </div>
    <ul class="nav nav-tabs">
      <li class="nav-item" *ngFor="let tab of listTab; let i = index">
        <a [class.active]="index === i" class="nav-link" id="{{tab}}" (click)="index = listTab.indexOf($event.target.id)"
          href="#">{{tab}}</a>
      </li>
    </ul>
    <div class="tab-content">
      <app-child [tabIndex]=index></app-child>
    </div> -->

    <!-- <app-lifecycle-title *ngFor="let data of datas" [data]="data" (exportDeleteItem)="passDeleteItemToModal($event)">
      <app-lifecycle-content></app-lifecycle-content>
    </app-lifecycle-title>
    <app-modal (removeData)="removeItem($event)"></app-modal> -->

    <!-- <select [(ngModel)]="color">
      <option *ngFor="let color of listColor">
        {{color}}
      </option>
    </select>
    <button appHighligh [choosenColor]="color">Button</button>
    <button appHighligh [choosenColor]="color">Button</button> -->

    <div class="row">
      <div class="card col" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/card-img.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.content | compactContent: 100}}</p>
          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </div>

      <div class="card col" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/card-img.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.content | compactContent: 100}}</p>
          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </div>

      <div class="card col" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/card-img.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.content | compactContent: 100}}</p>
          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>

    <div class="select-type">
      <input (change)="detectChange()" type="radio" [value]="false" [(ngModel)]="forObject"> Typing
      <input (change)="detectChange()" type="radio" [value]="true" [(ngModel)]="forObject"> Select
    </div>

    <div *ngIf="!forObject; else objOption">
      <input [(ngModel)]="selectedValue" type="text">
    </div>
    <ng-template #objOption>
      <select [(ngModel)]="selectedValue">
        <option *ngFor="let obj of listObject" [ngValue]="obj">{{obj.name}}</option>
      </select>
    </ng-template>

    <br>
    <div class="button-storage">
      <button class="btn btn-dark" (click)="saveInput(true)">Save in localstorage</button><br>
      <button class="btn btn-dark" (click)="storageValue=localer.getLocalStorage()">Get in localstorage</button>
    </div>
    <br>
    <div class="button-storage">
      <button class="btn btn-dark" (click)="saveInput(false)">Save in session storage</button><br>
      <button class="btn btn-dark" (click)="storageValue=localer.getSessionStorage()">Get in session storage</button>
    </div>

    <div>
      <h3>Show value in storage</h3>
      {{storageValue}}
    </div>
  </div>
</body>
<footer>
  <span class="center">Footer</span>
</footer>