<section class="section-content">
  <div class="container">
    <div class="row">
      <div *ngFor="let item of data">
        <div class="col-12 mx-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png"
              alt="Card image cap">
            <div class="card-body">
              <div class="row">
                <div class="col-10">
                  <h2 class="card-title">{{ item.title | collapseText: '7' }}</h2>
                </div>
                <div class="col-2 py-2">
                  <a (click)="myfavorites(item.id)">
                    <div *ngIf="true">
                      <i class="fa fa-heart" aria-hidden="true"></i>
                    </div>
                    <div *ngIf="false">
                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                    </div>
                  </a>
                </div>
              </div>
              <p class="card-text">{{ item.content | collapseText: '30' }}</p>
              <a [routerLink]="['/news',item.id]">
                <div class="text-center my-2">
                  <i>read more</i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>