<section class="section-content">
  <div class="container">
    <div class="row">
      <div *ngFor="let item of data">
        <div class="col-12 mx-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png"
              alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">{{ item.title | collapseText: '10' }}</h2>
              <p class="card-text">{{ item.content | collapseText: '30' }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>