<div class="card">
  <div class="card-header">
    <h5 class="mb-0">
      <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#collapse' + index">
        <ng-content></ng-content>
      </button>
      </h5>
    </div>
  <app-lifecycle-content [index]="index">
      <p [innerHTML]="item.content"></p>
  </app-lifecycle-content>
<button type="button" class="btn btn-primary cs-btn" (click)="ShowDialog(this.curentItem)" data-toggle="modal" data-target="#dialogModal">X</button>
</div>
