* {
  font-family: "Times New Roman", Times, serif;
}
main {
  margin:0;
  height:100%;
  padding:10px;
  padding-bottom:60px;   /* Height of the footer */
}
.container {
  min-height:100%;
  position:relative;
}
.header {
  margin-top: 10px;
  padding: 0 8%;
  width: 100%;
  background-image: url("https://cdn.pixabay.com/photo/2016/04/15/04/02/water-1330252__340.jpg");
  background-size: cover;
  height: 160px;
  resize: both;
  overflow: scroll;
  background-size: 100% 100px;
}
.header h1 {
  padding: 20px 0 0 30px;
  color: white;
}
.section-content {
  font-weight: bold;
  padding: 20px 0;
}
.bd-callout {
  padding: 1rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
}
.bd-callout-info {
  text-transform: uppercase;
  border-left-color: #3c17df;
  background-color: #eee;
}
.section-content .nav a {
  color: rgb(178, 181, 184);
}
.section-content .nav .active {
  color: black;
}
.section-content .tab-content {
  border: #e0e3e6;
}
.nav-tabs {
  border-bottom: 1px solid white;
}
.tab-contents {
  margin: 0 1em 1em;
  padding: 10px;
  border: 1px solid #ddd;
}
.link.active {
  border-bottom: 1px solid white;
}
.footer {
  margin-bottom: 10px;
  background-color: #F8F9FA;
  width: 100%;
  position:absolute;
  bottom:0;
  height:60px;
}
.footer-content {
  width: 50%;
  margin: auto;
  text-align: center;
  color: black;
  background: linear-gradient(to top, #E8E9EA 31%, #F8F9FA 61%);
}
.footer p {
  padding: 15px 0;
  font-size: 20px;
}

