<div class="site-navbar py-2">

  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <div class="logo">
        <div class="site-logo">
          <a href="index.html" class="js-logo-clone">ShopMax</a>
        </div>
      </div>
      <div class="main-nav d-none d-lg-block">
        <nav class="site-navigation text-right text-md-center" role="navigation">
          <ul class="site-menu js-clone-nav d-none d-lg-block">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/women">Women</a></li>
            <li><a routerLink="/men">Men</a></li>
            <li><a routerLink="/children">Children</a></li>
          </ul>
        </nav>
      </div>
      <div class="icons">
        <a routerLink="/login">login</a>
      </div>
    </div>
  </div>
</div>