.site-navbar {
  background-color: #333333;
  color: #868995;
}
.auth-content {
  text-transform: uppercase;
}
.site-navbar a:hover {
  color: #ee4266;
}
.active {
  color: #ee4266 !important;
}
.auth-content a {
  cursor: pointer;
}