<div class="site-navbar py-2">

  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <div class="logo">
        <div class="site-logo">
          <a routerLink="/" class="js-logo-clone">ShopMax</a>
        </div>
      </div>
      <div class="main-nav d-none d-lg-block">
        <nav class="site-navigation text-right text-md-center" role="navigation">
          <ul class="site-menu js-clone-nav d-none d-lg-block">
            <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
            <li><a routerLink="/women" routerLinkActive="active">Women</a></li>
            <li><a routerLink="/men" routerLinkActive="active">Men</a></li>
            <li><a routerLink="/children" routerLinkActive="active">Children</a></li>
            <ng-container *ngIf="!!currentUser">
              <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
            </ng-container>
          </ul>
        </nav>
      </div>
      <div class="row auth-content">
        <div class="col-6">
          <a class="nav-link" routerLink="/login" *ngIf="show" routerLinkActive="active">login</a>
        </div>
        <div class="col-6">
          <a class="nav-link" routerLink="/register" *ngIf="show" routerLinkActive="active">Register</a>
        </div>
        <a class="nav-link" (click)="logout()" *ngIf="!show" routerLinkActive="active" title="Logout">Logout</a>
      </div>
    </div>
  </div>
</div>