.site-navbar {
  background-color: #333333;
  color: #868995;
  padding: 0;
}
.auth-content {
  text-transform: uppercase;
  font-size: 14px;
}
.site-navbar a:hover {
  color: #ee4266;
}
.active {
  color: #ee4266 !important;
}
.auth-content a {
  cursor: pointer;
}
.auth-content a {
  float: right;
}
