<div class="mb-5 bd-callout bd-callout-danger">
  <h2>Tab content</h2>
</div>
<ul class="nav nav-tabs color-tab-link" id="myTab" role="tablist">
  <li class="nav-item">
    <a (click)="getContent('home')" [class.active]="indexTab === 0" class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a (click)="getContent('profile')" [class.active]="indexTab === 1" class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item">
    <a (click)="getContent('contact')" [class.active]="indexTab === 2" class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    {{ showContent() }}
  </div>
  <div *ngIf="indexTab === 1" class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"></div>
  <div *ngIf="indexTab === 2" class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"></div>
</div>
