<app-header></app-header>
<div class="cotainer">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <!-- ERROR MESSAGE -->
      <ng-container *ngIf="show">
        <div class="alert alert-danger" role="alert">
          Email is already existed!
        </div>
      </ng-container>
      <ng-container *ngIf="showSuccess">
        <div class="alert alert-success" role="alert">
          Register successfully!
        </div>
      </ng-container>
      <!-- CONTENT -->
      <div class="card">
        <div class="card-header">
          <h4>Create an account</h4>
        </div>
        <div class="card-body">
          <form action="" [formGroup]="formReactive" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label class="required-explain ">First Name</label>
              <input type="text" class="form-control" formControlName="firstName">
              <div class="error my-2" *ngIf="formReactive.controls.firstName.invalid
                      && (formReactive.controls.firstName.dirty || formReactive.controls.firstName.touched)">
                <span *ngIf="formReactive.get('firstName').errors.required">First name is required</span>
              </div>
            </div>

            <div class="form-group">
              <label class="required-explain ">Last Name</label>
              <input type="text" class="form-control" formControlName="lastName">
              <div class="error my-2" *ngIf="formReactive.controls.lastName.invalid
                      && (formReactive.controls.lastName.dirty || formReactive.controls.lastName.touched)">
                <span *ngIf="formReactive.get('lastName').errors.required">Last name is required</span>
              </div>
            </div>

            <div class="form-group">
              <label class="required-explain ">Email</label>
              <input type="email" class="form-control" formControlName="email">
              <div class="error my-2" *ngIf="formReactive.controls.email.invalid
                      && (formReactive.controls.email.dirty || formReactive.controls.email.touched)">
                <span *ngIf="formReactive.get('email').errors.required">Email is required</span>
                <span *ngIf="formReactive.get('email').errors.email">This field is email</span>
              </div>
            </div>

            <div class="form-group">
              <label class="required-explain ">Password</label>
              <input type="password" class="form-control" formControlName="password">
              <div class="error my-2" *ngIf="formReactive.controls.password.invalid
                      && (formReactive.controls.password.dirty || formReactive.controls.password.touched)">
                <span *ngIf="formReactive.get('password').errors.required">Password is required</span>
              </div>
            </div>

            <div class="form-group">
              <label class="required-explain">Confirm Password</label>
              <input type="password" class="form-control" formControlName="confirmPassword">
              <div class="error my-2">
                <span *ngIf="formReactive.hasError('notSame')">Confirm password do not match</span>
              </div>
            </div>

            <div class="btn-submit">
              <button type="submit" class="btn btn-large btn-block btn-primary"
                [disabled]="formReactive.invalid">Create</button>
            </div>

            <div class="form-group mb-3 text-center">
              <a routerLink="/login">Already have an account? Sign in here</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>