<app-header></app-header>
<div class="container">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <form role="form" (ngSubmit)="onSubmit();" [formGroup]="formSignUp">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" formControlName="first_name" id="first_name" class="form-control input-sm floatlabel" placeholder="First Name">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" formControlName="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name">
                </div>
              </div>
            </div>

            <div class="form-group">
              <input type="email" formControlName="email" id="email" class="form-control input-sm" placeholder="Email Address">
              <p *ngIf="formSignUp.get('email').invalid && formSignUp.controls.email.touched">Email is required</p>
            </div>

            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="password" formControlName="password" id="password" class="form-control input-sm" placeholder="Password">
                  <p *ngIf="formSignUp.controls.email.invalid && formSignUp.controls.email.touched">Password is required</p>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input formControlName="confirmPassword" type="password" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
                  <!-- <p *ngIf="formSignUp.controls.email.invalid && formSignUp.controls.email.touched">Email is required</p> -->
                </div>
              </div>
            </div>

            <input [disabled]="formSignUp.invalid" type="submit" value="Register" class="btn btn-info btn-block">
            <p class="text-center">Have an account? <a routerLink="/auth/login"> Login</a></p>
          </form> 
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>