<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
    <a class="navbar-brand offset-md-2" routerLink="/" href="#">
      <img class="logo-img ng-star-inserted" alt="home" src="assets/images/logo-nav-angular.png" title="home">
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link nav-link-inner" routerLink="/" href="">HOME<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-inner" routerLink="/local">EVENTS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-inner" routerLink="/apiservice">DIRECTIVE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-inner" routerLink="/hooks">LIFECYCLE-HOOK</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-inner" routerLink="/pipe">PIPES</a>
        </li>
      </ul>
      <!-- <ng-container *ngIf="!!authService.isLoggedIn; else logoutBottom">
          <div class="my-2 my-lg-0 col-5">
            <a class="color-font mr-4" routerLink="/login">LOGIN</a>
            <a class="color-font" routerLink="/register">REGISTER</a>
          </div>
      </ng-container>
      <ng-template #logoutBottom>
        <div class="form-inline my-2 my-lg-0 col-5">
          <a class="color-font mr-4" (click)="logout()">LOGOUT</a>
        </div>
      </ng-template> -->

      <ng-container *ngIf="authService.isLoggedIn; else logoutBottom">
          <div class="my-2 my-lg-0 col-5">
            <a class="color-font mr-4" (click)="logout()">LOGOUT</a>
          </div>
      </ng-container>
      <ng-template #logoutBottom>
        <div class="form-inline my-2 my-lg-0 col-5">
            <a class="color-font mr-4" routerLink="/login">LOGIN</a>
            <a class="color-font" routerLink="/register">REGISTER</a>
        </div>
      </ng-template>
      
    </div>
  </nav>
</header>
