.footer {
  margin-bottom: 10px;
  background-color: #F8F9FA;
  width: 100%;
  bottom:0;
  height:60px;
}
.footer-content {
  width: 50%;
  margin: auto;
  text-align: center;
  color: black;
  background: linear-gradient(to top, #E8E9EA 31%, #F8F9FA 61%);
}
.footer p {
  padding: 15px 0;
  font-size: 20px;
}
