<div *ngIf="childindex === 0">
        <strong>HOME CONTENT</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe harum distinctio sed porro sequi nihil aliquid et dignissimos nam omnis, minus ex architecto quaerat iste quos, nulla fugit neque labore.</p>
      </div>
      <div *ngIf="childindex === 1">
        <strong>PROFILE</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nemo similique facere veniam pariatur corporis, sed labore deleniti ipsa mollitia unde deserunt id debitis tempora a. Voluptatem explicabo et repellat?</p>
      </div>
      <div *ngIf="childindex === 2">
        <strong>CONTACT</strong>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero recusandae a unde sit voluptate veritatis ut totam ipsa et commodi, natus mollitia sapiente harum deserunt labore cupiditate? Soluta, quibusdam maxime!</p>
</div>