<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="title-section mb-5 col-12">
        <h2 class="text-uppercase">{{title}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 item-entry mb-3"
        *ngFor="let item of data | paginate: { itemsPerPage: 4, currentPage: p }">
        <div class="card text-center card-product md-height bg-gray d-block">
          <div class="card-product__img">
            <a [routerLink]="['/product',item.id]">
              <img class="card-img" src="{{item.img}}" alt="">
            </a>
            <ng-container *ngIf="show">
              <div class="card-product__imgOverlay">
                <button (click)="myfavorites(item.id)"><i class="fas fa-heart" aria-hidden="true"></i></button>
              </div>
            </ng-container>
          </div>
          <div class="card-body">
            <h2 class="item-title"><b>{{ item.title | collapseText: '10' }}</b></h2>
            <p class="card-product__title"><a [routerLink]="['/product',item.id]">{{item.desc | collapseText: '20'}}</a>
            </p>
            <strong class="item-price">{{item.price}}</strong>
          </div>
        </div>
      </div>
    </div>

    <pagination-controls class="text-center" (pageChange)="p = $event"></pagination-controls>
  </div>
</div>