<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <h4>Your Profile</h4>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="profileForm" (ngSubmit)="updateSubmit()">
          <div class="form-group row">
            <label for="name" class="col-4 col-form-label">First Name</label>
            <div class="col-8">
              <input formControlName="firstName" id="name" name="name" placeholder="First Name" class="form-control here" type="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="lastname" class="col-4 col-form-label">Last Name</label>
            <div class="col-8">
              <input formControlName="lastName" id="lastname" name="lastname" placeholder="Last Name" class="form-control here" type="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-4 col-form-label">Email*</label>
            <div class="col-8">
              <input formControlName="email" id="email" name="email" placeholder="Email" class="form-control here" required="required"
                type="text">
            </div>
          </div>
          <div class="form-group row">
            <label for="newpass" class="col-4 col-form-label">New Password</label>
            <div class="col-8">
              <input formControlName="password" id="newpass" name="newpass" placeholder="New Password" class="form-control here" type="password">
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-4 col-8">
              <button *ngIf="profileForm.dirty" name="submit" type="submit" class="btn btn-primary">Update My Profile</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
