header ul {
  align-items: center;
}
.header-logo-li {
  display: inline-block;
  width: 22%;
}
.header-logo-li a{
  display: block;
}
header ul li {
  margin-right: 20px;
}
header ul li a,
.login {
  font-size: x-large;
  line-height: 1;
}
header ul li a img {
  width: 100%;
}
.navbar-expand-lg {
  justify-content: space-between;
}
