<header class="header">
  <nav class="navbar navbar-expand-lg">
    <a class="nav-link active" href="/">
      <img alt="Logo" height="40" src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" title="Logo"
        width="150" class="ng-star-inserted">
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/" routerLinkActive="active" title="Home">
            <span class="nav-link-inner">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/buttons" routerLinkActive="active" title="Directive">
            <span class="nav-link-inner">Directive</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/directive" routerLinkActive="active" title="Pricing">
            <span class="nav-link-inner">Pipe</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lifecycle-hook" routerLinkActive="active" title="Pricing">
            <span class="nav-link-inner">Lifecycle hook</span>
          </a>
        </li>
      </ul>
      <div>
        <a class="nav-link" routerLink="/account" routerLinkActive="active" title="Account">Account</a>
      </div>
      <div>
        <a class="nav-link" routerLink="/login" *ngIf="!authService.isLoggedIn" routerLinkActive="active"
          title="Login">Login</a>
      </div>
      <div>
        <a class="nav-link" (click)="logout()" *ngIf="authService.isLoggedIn" routerLinkActive="active"
          title="Logout">Logout</a>
      </div>
      <div>
        <a class="nav-link" routerLink="/register" routerLinkActive="active" title="Register">Register</a>
      </div>
    </div>
  </nav>
</header>