  <!-- child works! {{tabClick}} -->
  <div class="tab-content">
    <h5>{{listContentTab[tabClick].title | uppercase}} {{'content' | uppercase}}</h5>
    <p>
      {{listContentTab[tabClick].content}}<br>
      {{listContentTab[tabClick].content}}<br>
      {{listContentTab[tabClick].content}}<br>
    </p>
  </div>gg
  
git rebase --onto 3b536b1b --exec "git commit --amend --author="at-betruong be.truong@asiantech.vn"  3b536b1b
mba0296p@MBA0296P.local
git change-commits GIT_AUTHOR_EMAIL "mba0296p@MBA0296P.local" "be.truong@asiantech.vn" HEAD~10..HEAD
cccc
git replace-author "MBA0296P" "at-betruong" "be.truong@asiantech.vn"
