/* You can add global styles to this file, and also import other style files */
body {
  height: 100%!important;
  flex-direction: column!important;
  display: flex!important;
}

header main footer {
  display: block;
}

.img-icon-angular {
  height: 40px;
  width: 150px;
}

.bg-navbar {
  background-color: #1976d2;
  background: linear-gradient(145deg,#0d47a1,#42a5f5);
}

.app-toolbar a {
  font-size: 16px;
  color: #fff;
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  text-transform: uppercase;
}

.main-body {
  margin: 0% 10%;
}

.main-body h2 {
  font-size: 24px;
  border: 0.5rem;
  padding: 1rem 0.5rem;
  background-color: #e7eaec;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.footer {
  background: linear-gradient(45deg,#eeeded,#e7e0e0);
  margin-top: 30.5%;
}

.text-footer {
  padding: 10px;
  background: linear-gradient(45deg,#8f6b6b,#e6e4e4);
  text-align: center;
  border: 1rem;
}

.login {
  float: right;
}

.color-tab-link a{
  color: #495057;
}
