<div class="profile">
  <div class="title-section">
    <h2>{{title | uppercase}}</h2>
  </div>
  <hr>
  <div class="row my-2">
    <!-- edit form column -->
    <div class="col-lg-12">
      <ng-container *ngIf="show">
        <div class="alert alert-danger" role="alert">
          Email is already existed!
        </div>
      </ng-container>
      <ng-container *ngIf="showSuccess">
        <div class="alert alert-success" role="alert">
          Edit successfully!
        </div>
      </ng-container>
    </div>
    <div class="col-lg-12 personal-info">
      <form action="" [formGroup]="formReactive" (ngSubmit)="onSubmit()">

        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label ">First Name</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" formControlName="firstName">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label ">Last Name</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" formControlName="lastName">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label ">Email</label>
          <div class="col-lg-9">
            <input type="email" class="form-control" formControlName="email">
            <div class="error my-2" *ngIf="formReactive.controls.email.invalid
                              && (formReactive.controls.email.dirty || formReactive.controls.email.touched)">
              <span *ngIf="formReactive.get('email').hasError('pattern')">
                Email is invalid
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label required-explain ">Password</label>
          <div class="col-lg-9">
            <input type="password" class="form-control" formControlName="password">

          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label required-explain">Confirm Password</label>
          <div class="col-lg-9">
            <input type="password" class="form-control" formControlName="confirmPassword">
            <div class="error my-2">
              <span *ngIf="formReactive.hasError('notSame')">Confirm password do not match</span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label"></label>
          <div class="col-lg-9">
            <button type="submit" class="btn btn-primary mr-4" (click)="cancel()">Cancel</button>
            <button type="submit" class="btn btn-primary" [disabled]="formReactive.invalid">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>