<div class="directive col-12">
  <button (click)="localerService.saveLocalStorage(1, 'Primary')" type="button" class="btn btn-primary">Primary</button>
  <button (click)="localerService.getLocalStorage(1)" type="button" class="btn btn-secondary">Secondary</button>
  <button (click)="localerService.saveSessionStorage(2, 'Success')" type="button" class="btn btn-success">Success</button>
  <button (click)="localerService.getSessionStorage(2)" type="button" class="btn btn-danger">Danger</button>
</div>