<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<app-header></app-header>
<div class="row">
  <div class="col-2">
    <app-nav-left></app-nav-left>
  </div>
  <div class="col-10">
    <router-outlet></router-outlet>
  </div>
</div>
<app-footer></app-footer>