<div class="col-md-6 cs-form">
    <form action="" [formGroup]="formReactive" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" formControlName="firstName">
        <div *ngIf="formReactive.controls.firstName.invalid 
          && (formReactive.controls.firstName.dirty || formReactive.controls.firstName.touched)">
          <span *ngIf="formReactive.get('firstName').errors.required">This field is required</span>
        </div>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" formControlName="lastName">
        <div *ngIf="formReactive.controls.lastName.invalid 
          && (formReactive.controls.lastName.dirty || formReactive.controls.lastName.touched)">
          <span *ngIf="formReactive.get('lastName').errors.required">This field is required</span>
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" formControlName="email">
        <div *ngIf="formReactive.controls.email.invalid 
          && (formReactive.controls.email.dirty || formReactive.controls.email.touched)">
          <span *ngIf="formReactive.get('email').errors.required">This field is required</span>
          <span *ngIf="formReactive.get('email').errors.email">This field is email</span>
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password">
        <div *ngIf="formReactive.controls.password.invalid 
          && (formReactive.controls.password.dirty || formReactive.controls.password.touched)">
          <span *ngIf="formReactive.get('password').errors.required">This field is required</span>
        </div>
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control" formControlName="confirmPassword">
        <div *ngIf="formReactive.controls.confirmPassword.invalid 
          && (formReactive.controls.confirmPassword.dirty || formReactive.controls.confirmPassword.touched)">
          <span *ngIf="formReactive.get('confirmPassword').errors.required">Password and confirmation password do not match.</span>
        </div>
        <br>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary form-control" [disabled]="formReactive.invalid">Submit</button>
      </div>
    </form>
    <ng-template [ngIf]="existData">
      <div class="alert alert-danger" role="alert">
          Email already exists!!!
      </div>
    </ng-template>
  </div>