<h2 class="h2 mb-4 text-center mt-3">HomePage</h2>
<hr>

<div class="container mb-4">
  <div class="row">
    <div class="col-sm-12">
      <app-carousel></app-carousel>
    </div>
  </div>
</div>

<div class="container">
  <section class="mb-3">
    <h3 class="h3">Women</h3>
    <div class="row" *ngIf='womenProducts && womenProducts.length'>
      <div class="col-md-3 col-sm-6" *ngFor='let womenProduct of womenProducts'>
        <div class="product-grid3">
          <div class="product-image3">
            <a href="#">
              <img class="pic-1" [src]='womenProduct.imageUrl' [title]='womenProduct.productName'>
              <img class="pic-2" [src]='womenProduct.imageUrl' [title]='womenProduct.productName'>
            </a>
            <ul class="social">
              <li><a href="#"><i class="fa fa-heart"></i></a></li>
            </ul>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a [routerLink]="['/home', womenProduct.id]">{{ womenProduct.productName }}</a></h3>
            <div class="price">
              {{ womenProduct.promotionPrice }}
              <span>{{ womenProduct.originalPrice }}</span>
            </div>
            <ul class="rating">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star disable"></li>
              <li class="fa fa-star disable"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section class="mb-3">
    <h3 class="h3">Men</h3>
    <div class="row" *ngIf='menProducts && menProducts.length'>
      <div class="col-md-3 col-sm-6" *ngFor='let menProduct of menProducts'>
        <div class="product-grid3">
          <div class="product-image3">
            <a>
              <img class="pic-1" [src]='menProduct.imageUrl' [title]='menProduct.productName'>
              <img class="pic-2" [src]='menProduct.imageUrl' [title]='menProduct.productName'>
            </a>
            <ul class="social">
              <li><a><i class="fa fa-heart"></i></a></li>
            </ul>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a [routerLink]="['/home', menProduct.id]">{{ menProduct.productName }}</a></h3>
            <div class="price">
              {{ menProduct.promotionPrice }}
              <span>{{ menProduct.originalPrice }}</span>
            </div>
            <ul class="rating">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star disable"></li>
              <li class="fa fa-star disable"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section class="mb-3">
    <h3 class="h3">Kid</h3>
    <div class="row" *ngIf='kidProducts && kidProducts.length'>
      <div class="col-md-3 col-sm-6" *ngFor='let kidProduct of kidProducts'>
        <div class="product-grid3">
          <div class="product-image3">
            <a>
              <img class="pic-1" [src]='kidProduct.imageUrl' [title]='kidProduct.productName'>
              <img class="pic-2" [src]='kidProduct.imageUrl' [title]='kidProduct.productName'>
            </a>
            <ul class="social">
              <li><a><i class="fa fa-heart"></i></a></li>
            </ul>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a [routerLink]="['/home', kidProduct.id]">{{ kidProduct.productName }}</a></h3>
            <div class="price">
              {{ kidProduct.promotionPrice }}
              <span>{{ kidProduct.originalPrice }}</span>
            </div>
            <ul class="rating">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star disable"></li>
              <li class="fa fa-star disable"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
</div>
<hr>