<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col-sm-12">
      <app-carousel></app-carousel>
    </div>
  </div>
</div>

<div class="container">
  <section class="mb-3">
    <h3 class="h3">Women</h3>
    <div class="row" *ngIf='womenProducts && womenProducts.length'>
      <div class="col-md-3 col-sm-6" *ngFor='let womenProduct of womenProducts'>
        <div class="product-grid3">
          <div class="product-image3">
            <a [routerLink]="['/',womenProduct.category ,'product', womenProduct.id]">
              <img class="pic-1" [src]='womenProduct.imageUrl' [title]='womenProduct.productName'>
              <img class="pic-2" [src]='womenProduct.imageUrl' [title]='womenProduct.productName'>
            </a>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a [routerLink]="['/home', womenProduct.id]">{{ womenProduct.productName }}</a></h3>
            <div class="price">
              {{ womenProduct.promotionPrice }}
              <span>{{ womenProduct.originalPrice }}</span>
            </div>
            <app-star [rating]="womenProduct.starRating">
            </app-star>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section class="mb-3">
    <h3 class="h3">Men</h3>
    <div class="row" *ngIf='menProducts && menProducts.length'>
      <div class="col-md-3 col-sm-6" *ngFor='let menProduct of menProducts'>
        <div class="product-grid3">
          <div class="product-image3">
            <a [routerLink]="['/',menProduct.category ,'product', menProduct.id]">
              <img class="pic-1" [src]='menProduct.imageUrl' [title]='menProduct.productName'>
              <img class="pic-2" [src]='menProduct.imageUrl' [title]='menProduct.productName'>
            </a>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a [routerLink]="['/home', menProduct.id]">{{ menProduct.productName }}</a></h3>
            <div class="price">
              {{ menProduct.promotionPrice }}
              <span>{{ menProduct.originalPrice }}</span>
            </div>
            <app-star [rating]="menProduct.starRating">
            </app-star>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section class="mb-3">
    <h3 class="h3">Kid</h3>
    <div class="row" *ngIf='kidProducts && kidProducts.length'>
      <div class="col-md-3 col-sm-6" *ngFor='let kidProduct of kidProducts'>
        <div class="product-grid3">
          <div class="product-image3">
            <a [routerLink]="['/',kidProduct.category ,'product', kidProduct.id]">
              <img class="pic-1" [src]='kidProduct.imageUrl' [title]='kidProduct.productName'>
              <img class="pic-2" [src]='kidProduct.imageUrl' [title]='kidProduct.productName'>
            </a>
            <app-favorite></app-favorite>
            <span class="product-new-label">New</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a [routerLink]="['/home', kidProduct.id]">{{ kidProduct.productName }}</a></h3>
            <div class="price">
              {{ kidProduct.promotionPrice }}
              <span>{{ kidProduct.originalPrice }}</span>
            </div>
            <app-star [rating]="kidProduct.starRating">
            </app-star>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>