<div class="tab-content">
  <div *ngIf="index === 0">
    <h6>Home content</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quos aliquam consequuntur,
      esse provident impedit minima porro! Laudantium laboriosam culpa quis fugiat ea, architecto velit ab,
      deserunt rem quibusdam voluptatum.
    </p>
  </div>
  <div *ngIf="index === 1">
    <h6>Profile content</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quos aliquam consequuntur,
      esse provident impedit minima porro! Laudantium laboriosam culpa quis fugiat ea, architecto velit ab,
      deserunt rem quibusdam voluptatum.
    </p>
  </div>
  <div *ngIf="index === 2">
      <h6>Contact content</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quos aliquam consequuntur,
        esse provident impedit minima porro! Laudantium laboriosam culpa quis fugiat ea, architecto velit ab,
        deserunt rem quibusdam voluptatum.
      </p>
  </div>
</div>
