<div class="product_image_area">
  <div class="container">

    <div class="row">
      <div class="title-section my-4 col-lg-12">
        <h2 class="text-uppercase">{{title | uppercase}}</h2>
      </div>
    </div>
    <div class="row s_product_inner">
      <div class="col-lg-6 detail_product">
        <img class="img-fluid" src="{{product.img}}" alt="">
      </div>
      <div class="col-lg-5 offset-lg-1">
        <div class="s_product_text">
          <h3>{{product.title | uppercase}}</h3>
          <h2>{{product.price}}</h2>
          <ul class="list">
            <li><a class="active" href="#"><span>Category: </span>{{product.type}}</a></li>
            <li><a href="#"><span>Availibility</span> : In Stock</a></li>
          </ul>
          <p>{{product.desc}}</p>
          <button type="button" class="btn btn-primary" (click)="addFavorite(product.id)">Favorite</button>
        </div>
      </div>
    </div>
    <hr>
    <section>
      <div class="row">
        <div class="title-section mb-5 col-12">
          <h2 class="text-uppercase">You might also like</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 item-entry mb-3" *ngFor="let item of listSuggest">
          <div class="card text-center card-product md-height bg-gray d-block">
            <div class="card-product__img">
              <img class="card-img" src="{{item.img}}" alt="">
              <div class="card-product__imgOverlay">
                <button (click)="addFavorite(item.id)"><i class="fa fa-heart" aria-hidden="true"></i></button>
              </div>
            </div>
            <div class="card-body">
              <h2>{{ item.title | collapseText: '7' }}</h2>
              <p class="card-product__title"><a
                  [routerLink]="['/product',item.id]">{{item.desc | collapseText: '20'}}</a>
              </p>
              <p class="card-product__price">{{item.price}}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>