<div class="product_image_area">
  <div class="container">

    <div class="row">
      <div class="title-section my-4 col-lg-12">
        <h2 class="text-uppercase">{{title | uppercase}}</h2>
      </div>
    </div>
    <div class="row s_product_inner">
      <div class="col-lg-6 detail_product">
        <img class="img-fluid" src="{{product.img}}" alt="">
      </div>
      <div class="col-lg-6">
        <div class="s_product_text">
          <h3>{{product.title | uppercase}}</h3>
          <p>{{product.desc}}</p>
          <h4 class="product_price">Price: {{product.price}}</h4>
          <ng-container *ngIf="show">
            <div class="free_delivery d-flex flex-row align-items-center justify-content-center"
              (click)="addFavorite(product.id)">
              <span>Favorite</span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <section>
      <div class="row mt-4">
        <div class="title-section my-4 col-12">
          <h2 class="text-uppercase">You might also like</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 item-entry mb-3" *ngFor="let item of listSuggest">
          <div class="card text-center card-product md-height bg-gray d-block">
            <div class="card-product__img">
              <a [routerLink]="['/',item.type ,'product', item.id]">
                <img class="card-img" src="{{item.img}}" alt="">
              </a>
              <ng-container *ngIf="show">
                <div class="card-product__imgOverlay w-100" [hidden]="checkFavorite(item.id)">
                  <button (click)="addFavorite(item.id)">
                    <i class="icon-heart"></i>
                  </button>
                </div>
              </ng-container>
            </div>
            <div class="card-body">
              <h3>{{ item.title | collapseText: '10' }}</h3>
              <p class="card-product__title"><a
                  [routerLink]="['/',item.type ,'product', item.id]">{{item.desc | collapseText: '20'}}</a>
              </p>
              <p class="card-product__price item-price">{{item.price}}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>