<header class="header bg-navbar">
  <nav class="navbar navbar-expand-lg navbar-dark app-toolbar container">
    <a class="navbar-brand" routerLink="" routerLinkActive="active"><img class="img-icon-angular" src="assets/logo-nav@2x.png"></a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a routerLink="/home" routerLinkActive="active" class="nav-item nav-link">Home</a>
        <a routerLink="/lifecyclehooks" routerLinkActive="active" class="nav-item nav-link">Lifecycle Hooks</a>
        <a routerLink="/directive" routerLinkActive="active" class="nav-item nav-link">Directive</a>
        <a routerLink="/pipe" routerLinkActive="active" class="nav-item nav-link">Pipe</a>
        <a routerLink="/service" routerLinkActive="active" class="nav-item nav-link">Service</a>
      </div>
    </div>
    <a routerLink="/auth/login" routerLinkActive="active" class="nav-link login">Login</a>
    <a routerLink="/auth/register" routerLinkActive="active" class="nav-link register">Register</a>
  </nav>
</header>