<div class="product-card">
  <div class="badge">Hot</div>
  <div class="product-tumb">
    <img [src]="product.data.image" alt="">
  </div>
  <div class="product-details">
    <h4 [style.height.px]="40"><a [routerLink]="[ '/', product.type, 'product', product.data.id]">{{ product.data.name }}</a></h4>
    <div class="product-bottom-details">
      <div class="product-price">${{product.data.price}}</div>
      <div class="product-links">
        <a *ngIf="auth.isLogin()" (click)="favorite()"><i [class.active]="isFavorite" class="fa fa-heart"></i></a>
        <a href=""><i class="fa fa-shopping-cart"></i></a>
      </div>
    </div>
  </div>
</div>
