<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
    <a class="navbar-brand offset-md-2" href="#">
      <img class="logo-img ng-star-inserted" alt="home" src="assets/images/logo-nav-angular.png" title="home">
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">HOME<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">DERECTIVE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PRICING</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 col-4">
        <button class="color-font btn my-2 my-sm-0" type="submit">LOGIN</button>
      </form>
    </div>
  </nav>
</header>
<main>
  <div class="content offset-md-2 col-8">
    <!-- <div id="accordion" *ngFor="let lifeCycleHookLists of lifeCycleHookLists">
      <app-lifecycle-title [lifeCycleHookLists]= "lifeCycleHookLists">
        <app-lifecycle-content [lifeCycleHookLists]= "lifeCycleHookLists"></app-lifecycle-content>
        <app-modal [lifeCycleHookLists]= "lifeCycleHookLists" (removeItem)="removeItem($event)"></app-modal>
      </app-lifecycle-title>
    </div> -->

    <!-- <button type="button" class="btn" [appHoverItem]="'red'">Success</button>
    <button type="button" class="btn" [appHoverItem]="'blue'">Danger</button> -->

    <!-- <div class="card-deck">
      <div class="card" *ngFor = "let dataPipe of dataPipe">
        <img class="card-img-top" src="../assets/images/dog.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ dataPipe.title | pipe: '10' }}</h5>
          <p class="card-text">{{ dataPipe.content | pipe: '50' }}</p>
        </div>
      </div>
    
    </div> -->

    <div class="card-deck">
      <div class="card" *ngFor = "let dataPipe of dataPipes">
        <img class="card-img-top" src="../assets/images/dog.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ dataPipe.title | pipe: '10' }}</h5>
          <p class="card-text">{{ dataPipe.content | pipe: '50' }}</p>
        </div>
      </div>
    
    </div>

    <!-- <div class="input-group">
      <input type="text" class="form-control" placeholder="Key Local" aria-label="Recipient's username" aria-describedby="basic-addon2" [(ngModel)]="keyLocal">
      <input type="text" class="form-control" placeholder="Value Local" aria-label="Recipient's username" aria-describedby="basic-addon2" [(ngModel)]="valueLocal">
      <div class="input-group-append">
        <button class="savelocal btn btn-outline-primary" name="savelocal" id="savelocal" type="button" (click)="saveLocal()">Save Local</button>
        <button class="getlocal btn btn-outline-danger" name="getlocal" id="getlocal" type="button" (click)="getLocal()">Get Local</button>
        <button class="savesession btn btn-outline-warning" name="savesession" id="savesession" type="button" (click)="saveSession()">Save Session</button>
        <button class="getsession btn btn-outline-success" name="getsession" id="getsession" type="button" (click)="getSession()">Get Session</button>
      </div>
    </div> -->
  </div>
</main>
<footer class="footer">
  <div class="container">
    <p class="text-footer">angular@gmail.com</p>
  </div>
</footer>
<router-outlet></router-outlet>
