<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
    <a class="navbar-brand offset-md-2" href="#">
      <img class="logo-img ng-star-inserted" alt="home" src="assets/images/logo-nav-angular.png" title="home">
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">HOME<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">DERECTIVE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PRICING</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 col-4">
        <button class="color-font btn my-2 my-sm-0" type="submit">LOGIN</button>
      </form>
    </div>
  </nav>
</header>
<main class="content">
  <div class="offset-md-2 col-8" >
    <h3 class="title-tab">
      <a class="title-tab-c">Tab Content</a>
    </h3>
    <div>
      <ul class="nav nav-tabs">
        <li class="nav-item" *ngFor="let tabName of listTab; let i=index">
          <a class="nav-link" [class.active]="index==i" id="{{tabName}}" (click)="moveTab($event)" href="#">{{tabName}}</a>
        </li>
     </ul>
    <div class="content-child">
      <app-child [tabIndex]=index></app-child>
    </div>
  </div>
</div>
</main>
<footer class="footer">
  <div class="container">
    <p class="text-footer">angular@gmail.com</p>
  </div>
</footer>
<router-outlet></router-outlet>
