<div class="col-md-8 row no-gutters border rounded profile">
  <form class="col-md-12" action="" [formGroup]="formReactive" (ngSubmit)="onSubmit()">
    <div class="aleart-layout" *ngIf="isSubmit">
      <div class="alert alert-success" role="alert" *ngIf="updtSuccess;else fail">
        Update Success!!!
      </div>
      <ng-template #fail>
        <div #fail class="alert alert-danger" role="alert">
          Update Fail!!!
        </div>
      </ng-template>
    </div>  
    <div class="col-md-4 float-left">
      <img src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
    </div>
    <div class="col-md-8 float-left pt-md-3">
      <div class="cs-form">
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" value="{{user.email}}" disabled>
        </div>
        <div class="form-group">
          <label>First name</label>
          <input type="text" class="form-control" formControlName="firstName">
        </div>
        <div class="form-group">
          <label>Last name</label>
          <input type="text" class="form-control" formControlName="lastName">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password" >
        </div>
        <div class="form-group text-center col-md-12">
          <button type="submit" class="btn btn-primary form-control col-md-6">Update</button>
        </div>
      </div>
    </div>
  </form>
</div>