.header {
    height: 64px;
    background-color: #1976d2;
}
.nav-link.home {
    cursor: pointer;
    margin: 0 16px 0 25%;
    color: #F5EBE9;
}
.nav-item {
    display: inline-block;
    width: max-content;
    font-size: 22px;
    margin-left: 3%;
    color: white;
}
.nav-item a {
    color: white;
}
div.nav-item {
    margin-top: 15px;
}
.nav-item:hover {
    text-shadow: 0 1px;  
}
img:hover {
    transform: scale(1.1);
}
.active {
    color: rgb(13, 15, 3)! important;
}