.card {
		display: inline-block;
		position:relative;
    width: 20%;
    color: black! important;
    height: 300px;
    margin: 20px 2% 0 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.add-cart {
	height: 35px;
	border-radius: 23px;
	width: 45%;
	position:absolute;
	left:27%;
	top:30%;
	box-sizing: border-box;
	background: black! important;
	height: 40px;
	outline: none !important;
  border: none;
	font-family: Montserrat-Regular;
	font-size: 15px;
	color: white;
	text-transform: uppercase;
	justify-content: center;
	transition: all 0.4s;
	background: transparent;
	overflow: visible;
  display: none;
  // animation: move-top 0.5s ease;  
}

@keyframes move-top
{
  0% {
    top: 60%;
  }
  100% {
    top: 30%;;
  }
}
@keyframes move-down
{
  0% {
    top: 30%;
  }
  100% {
    top: 60%;;
  }
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-img-top {
    width: 100%;
    height: 100%;
}
.add-cart-image {
  width: 100%;
  height: 76%;
  display: inline-block;
}
.black-blur {
  position: relative;
}
.black-blur:before {
  content: '';
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.blur img {
  display: block; /* remove bottom space */
}
.card-title {
    display: inline-block;
    color: black! important;
    width: 100%;
    margin-bottom: 0! important;
    height: 8%;
    font-size: 15px;
    padding: 3px 5px 0 5px;
}
.card-price {
    display: inline-block;
    position: relative;
    color: black! important;
    padding: 3px 5px 2px 0;    
    width: 100%;
    color: red! important;
}
.card-price a {
  position: absolute;
  top: 5px;
  left: 10px;
}
.heart:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 10px;
  width: 100%;
  font-family: 'icons';
  font-size: 21px;
  text-indent: 0;
  font-variant: normal;
  line-height: 21px;
}
.cate-cap {
	text-transform: capitalize;
	padding-top: 10px;
	font-size: 30px;
  margin-left: 2%;
  margin-right: 6%;
}
.heart {
  display: inline-block;
  position: relative;
	width: 50px;
	background: red;
  overflow: inherit;
  margin: 0 3px 3px 80%;
  list-style: none;
}
.bg-gray {
	background: gray;
}
.bg-red {
	background: red;
}
.heart:hover {
    -webkit-animation: animateHeart 2.5s infinite;
    animation: animateHeart 2.5s infinite;
}
.heart:before,
.heart:after {
  position: absolute;
  content: '';
  top: -10px;
  left: 50%;
  width: 12px;
	height: 20px;
	background: inherit;
	border-radius: 10px 10px 0 0;
  -webkit-transform: rotate(-45deg) translateZ(0);
  transform: rotate(-45deg) translateZ(0);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.heart:after {
  left: 26%;
  -webkit-transform: rotate(45deg) translateZ(0);
  transform: rotate(45deg) translateZ(0);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
@-webkit-keyframes animateHeart {
  0% {
    -webkit-transform: scale(1);
  }
  5% {
    -webkit-transform: scale(1.3);
  }
  10% {
    -webkit-transform: scale(1);
  }
  15% {
    -webkit-transform: scale(2);
  }
  50% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes animateHeart {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.3);
  }
  10% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
span {
  font-family: 'Cantora One', sans-serif;
  font-size: 64px;
  position: absolute;
  top: 165px;
}
.paginate {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}