<section class="slideshow">
  <app-slideshow></app-slideshow>
</section>
<section class="sctn_sex container">
  <h1>Women</h1>
  <div class="pdt20">
      <div class="row">
        <ng-container *ngFor="let item of women">
          <div class="col-md-3">
            <app-card [item] = "item"></app-card>
          </div>
        </ng-container>
      </div>
    </div>
</section>
<section class="sctn_sex container">
  <h1>men</h1>
  <div class="pdt20">
      <div class="row">
        <ng-container *ngFor="let item of men">
          <div class="col-md-3">
            <app-card [item] = "item"></app-card>
          </div>
        </ng-container>
      </div>
    </div>
</section>
<section class="sctn_sex container">
  <h1>children</h1>
  <div class="pdt20">
      <div class="row">
        <ng-container *ngFor="let item of children">
          <div class="col-md-3">
            <app-card [item] = "item"></app-card>
          </div>
        </ng-container>
      </div>
    </div>
</section>
