#img-logo {
  width: 120px;
  height: 30px;
}

.header {
  text-transform: uppercase;
  margin-bottom: 100px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  padding: 10px;
}

.footer-text {
  margin: auto;
}

#intro-tab-content {
  margin-bottom: 15px;
  border-left: 5px solid #2076D2;
  text-transform: uppercase;
}

a {
  color: #111111;
}
