<app-header></app-header>
<main class="main container">
  <!-- ex_6 -->
  <!-- <div id="accordion">
    <div *ngFor="let method of listMethod" class="card" id="card-{{method.id}}">
      <app-lifecycle-title [method]="method"></app-lifecycle-title>
    </div>
    <app-modal (positionDeleted)="deleteItemFromModal($event)"></app-modal>
  </div> -->

  <!-- ex-7 -->
  <!-- <button type="button" class="btn btn-1" appHover hoverColor="blue">Basic 1</button>
  <button type="button" class="btn btn-2" appHover hoverColor="blue">Basic 2</button> -->

  <!-- ex-8 : pipes-->
  <!-- <div class="row">
    <div class="card" style="width: 250px; margin: 5px;" *ngFor="let method of listMethods">
      <img class="card-img-top" src="assets/images/applifevn_nsmjm2m0TZ1ud4k6no1_1280.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{method.title | contentLength: 10}}</h5>
        <p class="card-text">{{method.content | contentLength: 50}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div> -->

  <!-- ex-8: services -->
  <!-- <div class="input-group">
    <input type="text" class="form-control" placeholder="key" #key>
    <input type="text" class="form-control" placeholder="data" #data>
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary" type="button" (click)="saveLocal()">Save local</button>
      <button class="btn btn-outline-secondary" type="button" (click)="getLocal()">Get local</button>
      <button class="btn btn-outline-secondary" type="button" (click)="saveSession()">Save session</button>
      <button class="btn btn-outline-secondary" type="button" (click)="getSession()">Get session</button>
    </div>
  </div> -->

  <!-- ex-11 -->
  <!-- <app-login></app-login> -->
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>
