<app-slideshow></app-slideshow>
<!-- Product -->
<section class="bg0 p-t-23 p-b-80 men">
  <div class="container">
    <div class="flex-w flex-sb-m p-b-10">
      <div class="flex-w flex-l-m filter-tope-group m-tb-10">
        <h3>{{dataCatMen.name}}</h3>
      </div>

      <div class="flex-w flex-c-m m-tb-10">
        <a routerLink="/men">See more</a>
      </div>
    </div>

    <div class="row isotope-grid">
      <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item men" *ngFor="let datamen of dataMen">
        <!-- Block2 -->
        <div class="block2">
          <div class="block2-pic hov-img0">
            <img src="{{datamen.image}}" alt="IMG-PRODUCT">
          </div>

          <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l ">
              <a routerLink="{{dataCatMen.name}}/products/{{datamen.id}}"
                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                {{datamen.name}}
              </a>

              <span class="stext-105 cl3">
                $ {{datamen.price}}
              </span>
            </div>

            <div class="block2-txt-child2 flex-r p-t-3" *ngIf="authService.isLoggedIn">
              <a class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                <img class="icon-heart1 dis-block trans-04" src="assets/images/icons/icon-heart-01.png" alt="ICON">
                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="assets/images/icons/icon-heart-02.png"
                  alt="ICON" (click)="favoriteService.favorite(datamen)">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg0 p-t-23 p-b-80 women">
  <div class="container">
    <div class="flex-w flex-sb-m p-b-10">
      <div class="flex-w flex-l-m filter-tope-group m-tb-10">
        <h3>{{dataCatWomen.name}}</h3>
      </div>

      <div class="flex-w flex-c-m m-tb-10">
        <a routerLink="/women">See more</a>
      </div>
    </div>

    <div class="row isotope-grid">
      <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item men" *ngFor="let datawomen of dataWomen">
        <!-- Block2 -->
        <div class="block2">
          <div class="block2-pic hov-img0">
            <img src="{{datawomen.image}}" alt="IMG-PRODUCT">
          </div>

          <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l ">
              <a routerLink="{{dataCatWomen.name}}/products/{{datawomen.id}}" class=" stext-104 cl4 hov-cl1 trans-04
                js-name-b2 p-b-6">
                {{datawomen.name}}
              </a>

              <span class="stext-105 cl3">
                $ {{datawomen.price}}
              </span>
            </div>

            <div class="block2-txt-child2 flex-r p-t-3" *ngIf="authService.isLoggedIn">
              <a class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                <img class="icon-heart1 dis-block trans-04" src="assets/images/icons/icon-heart-01.png" alt="ICON">
                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="assets/images/icons/icon-heart-02.png"
                  alt="ICON" (click)="favoriteService.favorite(datawomen)">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg0 p-t-23 p-b-80 child">
  <div class="container">
    <div class="flex-w flex-sb-m p-b-10">
      <div class="flex-w flex-l-m filter-tope-group m-tb-10">
        <h3>{{dataCatChildren.name}}</h3>
      </div>

      <div class="flex-w flex-c-m m-tb-10">
        <a routerLink="/children">See more</a>
      </div>
    </div>

    <div class="row isotope-grid">
      <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item men" *ngFor="let datachild of dataChild">
        <!-- Block2 -->
        <div class="block2">
          <div class="block2-pic hov-img0">
            <img src="{{datachild.image}}" alt="IMG-PRODUCT">
          </div>

          <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l ">
              <a routerLink="{{dataCatChildren.name}}/products/{{datachild.id}}" class=" stext-104 cl4 hov-cl1 trans-04
                js-name-b2 p-b-6">
                {{datachild.name}}
              </a>

              <span class="stext-105 cl3">
                $ {{datachild.price}}
              </span>
            </div>

            <div class="block2-txt-child2 flex-r p-t-3" *ngIf="authService.isLoggedIn">
              <a class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                <img class="icon-heart1 dis-block trans-04" src="assets/images/icons/icon-heart-01.png" alt="ICON">
                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="assets/images/icons/icon-heart-02.png"
                  alt="ICON" (click)="favoriteService.favorite(datachild)">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
  <span class="symbol-btn-back-to-top">
    <i class="zmdi zmdi-chevron-up"></i>
  </span>
</div>
