
<!-- <ng-template [ngIf]="indexPage === 6">
  <form action="" class="form-signin mt-5">
    <div class="form-label-group">
      <label >Email address</label>
      <input type="email" class="form-control" placeholder="Email address" required autofocus>
    </div>
  
    <div class="form-label-group mt-2">
      <label >Password</label>
      <input type="password" class="form-control" placeholder="Password" required>
    </div>

    <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2019</p>
  </form>
</ng-template> -->
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
