<app-header></app-header>

<div [style.margin-top.px]="80" class="container">
  <div class="row">
    <div class="col-md-3 ">
      <div class="list-group ">
        <a routerLink="/account/dashboard" routerLinkActive="tab-active" class="list-group-item list-group-item-action">Dashboard</a>
        <a routerLink="/account/profile" routerLinkActive="tab-active" class="list-group-item list-group-item-action">Profile</a>
        <a routerLink="/account/favorites" routerLinkActive="tab-active" class="list-group-item list-group-item-action">Favorites</a>
      </div>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-footer></app-footer>