<h3 class="text-center">My favorite</h3>
<ng-container *ngIf="(products || []).length; else showNotthing">
  <div [ngStyle]="{'padding-left': '5%', 'padding-bottom': '40px'}">
    <div class="card font-weight-lighter" *ngFor="let product of products | slice: (page-1) * perPage : (page-1) * perPage + perPage; let i = index">
        <a routerLink="/products/{{product.id}}" class="add-cart-image">
          <img class="card-img-top" src="{{product.imageLink}}" alt="Card image cap">
          <p class="remove-like font-weight-lighter" id="{{(page-1) * perPage + i}}">X</p>
        </a>
        <div class="card-title">{{product.name | limitText : 30}}</div>
        <div class="card-price">
          <a>${{product.price}}</a>
        </div>
    </div>
  </div>
  <div [ngStyle]="{'position': 'relative', 'height': '100px'}">
    <ngb-pagination class="paginate"
    [(page)]="page"
    [pageSize]="perPage"
    (pageChange)="pageChanged($event)"
    [collectionSize]="products.length"></ngb-pagination>
  </div>
</ng-container>

<ng-template #showNotthing>
  <h3 [ngStyle]="{'color': 'green', 'text-align': 'center'}">Not thing to show</h3>
</ng-template>
