<div class="container-fluid main-container">
      <div class="col-md-2 sidebar">
        <div class="row">
          <!-- uncomment code for absolute positioning tweek see top comment in css -->
          <div class="absolute-wrapper"> </div>
          <!-- Menu -->
            <div class="side-menu">
              <nav class="navbar navbar-default" role="navigation">
                <!-- Main Menu -->
                <div class="side-menu-container">
                <ul class="nav navbar-nav">
                  <li><a routerLink="/account/dashboard" routerLinkActive href=""><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                  <li><a routerLink="/account/profile" href=""><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
                  <li><a routerLink="/account/favorite" href=""><span class="glyphicon glyphicon-heart"></span> My Favorite</a></li>
        
                </ul>
                </div><!-- /.navbar-collapse -->
              </nav>
        
            </div>
        </div>          
      </div>
      <div class="col-md-10 content">
        <router-outlet></router-outlet>
      </div>                
    </div>
    
