<header>
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">
              <img width="30" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" alt="">
              NGULAR</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">DIRECTIVE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PRICING</a>
          </li>
        </ul>
        <div class="form-inline my-2 my-md-0">
            <a class="navbar-brand" href="#">LOGIN</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        </div>
      </div>
    </div>
  </nav>
</header>
<main>
  <div class = "container">
    <div class = "top">
      <h2>TAB CONTENT</h2>
    </div>
    <div class = "body">
        <ul class = "nav nav-tabs">
          <li class = "nav-item">
            <a class = "nav-link active" [class.active]="currentTab === 0"
            (click) = "onChangeTab(0)">Home</a>
          </li>
          <li class = "nav-item">
            <a class = "nav-link" [class.active]="currentTab === 1"
            (click) = "onChangeTab(1)">Profile</a>
          </li>
          <li class = "nav-item">
            <a class = "nav-link" [class.active]="currentTab === 2"
            (click) = "onChangeTab(2)">Contact</a>
          </li>
        </ul>
        <div class="tab-contents">
          <app-child [currentTab]="currentTab"></app-child>
        </div>
    </div>
  </div>
</main>

<div class="text-center py-3">
  <p>footer</p>
</div>
<router-outlet></router-outlet>
