<div *ngIf="tabIndex==0">
  <h4 class="title-child">Home Content</h4>
  <div>
    <p>An NgModule is a class marked by the @NgModule decorator. @NgModule takes a metadata object that describes how to compile a component's template and how to create an injector at runtime. It identifies the module's own components, directives, and pipes, making some of them public, through the exports property, so that external components can use them. @NgModule can also add service providers to the application dependency injectors.</p>
  </div>
</div>
<div *ngIf="tabIndex==1">
  <h4 class="title-child">Profile Content</h4>
  <div>
    <p>An NgModule is a class marked by the @NgModule decorator. @NgModule takes a metadata object that describes how to compile a component's template and how to create an injector at runtime. It identifies the module's own components, directives, and pipes, making some of them public, through the exports property, so that external components can use them. @NgModule can also add service providers to the application dependency injectors.</p>
  </div>
</div>
<div *ngIf="tabIndex==2">
  <h4 class="title-child">Contact Content</h4>
  <div>
    <p>An NgModule is a class marked by the @NgModule decorator. @NgModule takes a metadata object that describes how to compile a component's template and how to create an injector at runtime. It identifies the module's own components, directives, and pipes, making some of them public, through the exports property, so that external components can use them. @NgModule can also add service providers to the application dependency injectors.</p>
  </div>
</div>
