<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home"><img [ngStyle]="{'width.px': 40, 'height.px': 50}" src="assets/images/logo.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let type of types" class="nav-item active">
        <a class="nav-link" [routerLink]="[ '/', type.name, '1']">{{type.name}}</a>
      </li>
    </ul>
    <div class="my-2 my-lg-0">
      <div *ngIf="!!user; else nonAuth">
        <span><a routerLink="/account/profile">{{user.firstName}}</a></span>
        <a href="" (click)="logout()">Logout</a>
      </div>
      <ng-template #nonAuth>
        <a routerLink="/login">Login</a>
      </ng-template>
    </div>
  </div>
</nav>
