<div class="container">
    <h3 class="h3">Product List: {{title}} </h3>
    <div class="row">
        <div class="col-md-3 col-sm-6" *ngFor="let item of data">
            <div class="product-grid3">
                <div class="product-image3">
                    <a [routerLink]="['/',title ,'product', item.id]">
                        <img class="card-img" src="{{item.imageUrl}}" alt="">
                    </a>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                    </ul>
                    <span class="product-new-label">New</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">{{ item.productName }}</a></h3>
                    <p class="card-product__title"><a
                            [routerLink]="['/',title ,'product', item.id]">{{item.description}}</a>
                    </p>
                    <div class="price">
                        {{item.promotionPrice}}
                        <span>{{item.originalPrice}}</span>
                    </div>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star disable"></li>
                        <li class="fa fa-star disable"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>