@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
header{
  background-color: #1a7ee8;
  min-height: 100px;
  margin: auto;
  padding: 25px;
  ul{
    li{
      a{
        color: #ffffff;
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
        text-transform: uppercase;
      }
    }
    li:hover{
      background-color: #0959af;
      a{
        color: red;
      }
    }
    li:first-child {
      a {
        position: relative;
      }
      a::before {
        content:'';
        background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=='); /*url of image*/
        height: 30px; /*height of image*/
        width: 30px;  /*width of image*/
        position: absolute;
        left: 90px;
        top: 6px;
      }
    }
    .nav-item:first-child{
      float: left;
    }
  }
}
main{
  min-height: 600px;
}
