footer {
    background: linear-gradient(to right, #F6F7F7 , #E4E8E6);
    height: 50px;
    position:fixed;
    bottom:0;
    width: 100%;
}
footer a {
    vertical-align: middle;
    position: absolute;
    right: 20%;
    bottom: 15px;
}
