<header>
  <app-header></app-header>
  <div class="banner">
    <h1 class="container">LifeCycle Hooks</h1>
  </div>
</header>

<main class="page-content container">

  <!-- exercise7: angular attribute direction -->
  <ng-template>
    <h4>Attribute Directive</h4>
    <h5>Pick a hover color</h5>
    <div>
      <input type="radio" name="colors" (click)="color='lightgreen'">Green
      <input type="radio" name="colors" (click)="color='yellow'">Yellow
      <input type="radio" name="colors" (click)="color='cyan'">Cyan
      <input type="radio" name="colors" (click)="color='green'">Green
      <input type="radio" name="colors" (click)="color='pink'">Pink
      <input type="radio" name="colors" (click)="color='purple'">Purple
    </div>
    <button [appHoverItem]="color" >konichiwa</button>
    <button [appHoverItem]="color" defaultColor="violet" >sayyounara</button>
  </ng-template>

  <router-outlet></router-outlet>

</main>

<footer class="page-footer">Footer</footer>
